/* line 17, /Users/jeff/.rvm/gems/ruby-1.9.2-p180@jah.com/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Users/jeff/.rvm/gems/ruby-1.9.2-p180@jah.com/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Users/jeff/.rvm/gems/ruby-1.9.2-p180@jah.com/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Users/jeff/.rvm/gems/ruby-1.9.2-p180@jah.com/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Users/jeff/.rvm/gems/ruby-1.9.2-p180@jah.com/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Users/jeff/.rvm/gems/ruby-1.9.2-p180@jah.com/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Users/jeff/.rvm/gems/ruby-1.9.2-p180@jah.com/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Users/jeff/.rvm/gems/ruby-1.9.2-p180@jah.com/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, /Users/jeff/.rvm/gems/ruby-1.9.2-p180@jah.com/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 14, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
body {
  background: #dadaec url(../images/check_bg.png) repeat;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5em;
  font-size: 100%;
  text-shadow: 0 1px 0 #FFF;
}

/* line 26, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
img,
embed,
iframe,
object,
video {
  max-width: 100%;
}

/* line 30, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
.outer-wrapper {
  position: relative;
  max-width: 60em;
  min-height: 31.25em;
  margin: 0px auto;
  background-color: white;
  border-radius: 0 0 8px 8px;
}

/* line 39, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
.inner-wrapper {
  padding: 5px;
}

/* line 43, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
.header {
  height: 3.125em;
}

/* line 46, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
h1.site-title {
  display: inline;
  font-family: 'Inconsolata', Helvetica, Arial, sans-serif;
  background: none;
  margin-top: .575em;
  font-size: 2em;
  max-width: 100%;
  color: #501212;
  line-height: 1.5em;
}

/* line 56, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
.content {
  clear: left;
  padding: 5px;
}

/* line 62, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
p {
  color: #111111;
  padding: 0;
}
/* line 65, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
p .item {
  background-color: #FFF;
}

/* line 69, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
.footer {
  position: relative;
}
/* line 71, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
.footer img {
  position: absolute;
  display: block;
  bottom: 20px;
  left: 20px;
}

/* line 79, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
#navigation {
  height: 1.6em;
  margin-left: -5px;
  max-width: 30.125em;
  background: url(../images/check_bg.png);
  border-radius: 0 6px 6px 0;
}

/* line 87, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
#navigation ul {
  list-style: none;
}

/* line 90, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
#navigation ul li {
  float: left;
}

/* line 93, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
#navigation ul li a {
  color: #FFF;
  text-shadow: none;
  padding: 0 .625em 0 .625em;
}

/* line 98, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
#navigation ul li a:hover {
  color: #FDC34D;
}

/* line 101, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
#navigation ul li a.active:hover {
  color: #FFFFFF;
}

@media screen and (max-width: 480px) {
  /* line 105, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
  #navigation {
    border-radius: none;
    background: none;
  }

  /* line 109, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
  #navigation ul {
    float: none;
  }

  /* line 112, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
  #navigation ul li {
    width: 100%;
    background: url(../images/check_bg.png);
  }

  /* line 116, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
  #navigation ul li a {
    display: block;
    border-bottom: 1px solid #FFF;
  }
}
/* line 121, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
.center-image {
  padding: 1.25em .78125px;
  text-align: center;
}

/* line 125, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
.center-image img {
  border: 1px solid;
}

/* line 128, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
.signup-form {
  width: 200px;
  position: absolute;
  top: 130px;
  left: 10px;
}

/* line 135, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
.media-list {
  max-width: 22em;
  padding-right: .5em;
}

/* line 139, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
.media-list p {
  clear: both;
  margin: 5px 0;
}

/* line 143, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
.media-list iframe {
  background-color: #274056;
  border-radius: 5px;
  padding: 5px;
}

/* line 148, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
.boxshadow .media-list iframe {
  box-shadow: 0 0 5px 0px #666;
  background-color: #FFF;
}

/* line 152, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
#infoSlider {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 158, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
div.canvas {
  width: 50em;
  margin: 5px auto;
}

/* line 162, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_structure.scss */
canvas#processingSketch {
  border-radius: 8px;
  box-shadow: #444 0 1px 5px;
  outline: none;
}

/* line 5, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_content.scss */
h1 {
  font-size: 1.5em;
  background-color: #DDD;
  margin: .95em 0;
  max-width: 100%;
}

/* line 11, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_content.scss */
p.footer-text {
  font-size: 0.625em;
  color: #0088cc;
  float: right;
  position: absolute;
  bottom: 20px;
  left: 60px;
  padding: 1px;
}

/* line 20, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_content.scss */
a {
  color: #0088cc;
  text-decoration: none;
}

/* line 24, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_content.scss */
a:hover {
  color: #fdc34d;
}

/* line 27, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_content.scss */
a.active {
  color: #FFFFFF;
  background-color: #FDC34D;
  text-shadow: none;
}

/* line 33, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_content.scss */
a.export-btn {
  color: #444;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  padding: 3px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #aaaaaa));
  background: -webkit-linear-gradient(#eeeeee, #aaaaaa);
  background: -moz-linear-gradient(#eeeeee, #aaaaaa);
  background: -o-linear-gradient(#eeeeee, #aaaaaa);
  background: linear-gradient(#eeeeee, #aaaaaa);
  float: right;
  margin-bottom: 5px;
  line-height: 16px;
  font-size: 0.75em;
}

/* line 45, /Users/jeff/Developer/Projects/jeffreyalanhuston.com/site/css/scss/_content.scss */
a.export-btn:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e75d23), color-stop(100%, #cb4b16));
  background: -webkit-linear-gradient(#e75d23, #cb4b16);
  background: -moz-linear-gradient(#e75d23, #cb4b16);
  background: -o-linear-gradient(#e75d23, #cb4b16);
  background: linear-gradient(#e75d23, #cb4b16);
  color: #FFF;
  border: #444 1px solid;
  text-shadow: none;
}
