$hoverColor: #FDC34D;
$skillsColor:#A2A2A2;
$footerFontSize: .625em;

h1 {
  font-size: 1.5em;
  background-color: #DDD;
  margin: .95em 0;
  max-width: 100%;
}
p.footer-text{
  font-size: $footerFontSize;
  color: $skillsColor;
  float: right;
  position: absolute;
  bottom: 20px;
  left: 60px;
  padding: 1px;
}
a{
  color: $skillsColor;
  text-decoration: none;
}
a:hover{
  color: $hoverColor;
}
a.active{
  color: #FFFFFF;
  background-color: #FDC34D;  
  text-shadow: none;
}

a.export-btn{
  color: #444;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  padding: 3px;
  @include background(linear-gradient(#EEE,#AAA));
  float: right;
  margin-bottom: 5px;
  line-height: 16px;
  font-size: 0.75em;
}
a.export-btn:hover{
  background: #CB4B16;
  color: #FFF;
  border: #444 1px solid;
  text-shadow: none;
}
