$site-width: 60em;
$site-min-height: 31.25em;
$bgcolor: #FFF;
$bodycolor: #DADAEC;
$border-color: #F00;
$paragraph-color: #111;
$main-page-pad: 5px;
$main-text-pad: 0;
$title-size: 2em;

html{
  
}
body{
  background: $bodycolor url(../images/check_bg.png) repeat;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5em;
  font-size: 100%;
  text-shadow: 0 1px 0 #FFF;
}

img,
embed,
iframe,
object,
video{
  max-width: 100%;
}

.outer-wrapper{
  position: relative;
  max-width: $site-width;
  min-height: $site-min-height;
  margin: 0px auto;
  background-color: $bgcolor;
  border-radius: 0 0 8px 8px;
}

.inner-wrapper{
  padding: $main-page-pad;
}

.header{
  height: 3.125em;
}
h1.site-title{
  display: inline;
  font-family: 'Inconsolata', Helvetica, Arial, sans-serif;
  background: none;
  margin-top: .575em;
  font-size: $title-size;
  max-width:100%;
  color: #501212;
  line-height: 1.5em;
}
.content{
  clear: left;
  padding: 5px;
}


p{
  color: $paragraph-color;
  padding: $main-text-pad;
  .item{
      background-color:#FFF;
  }
}
.footer{
  position: relative;
  img{
    position: absolute;
    display: block;
    bottom: 20px;
    left: 20px;
  }
}

#navigation{
  height: 1.6em;
  margin-left: -5px;
  max-width: 30.125em;
  background: url(../images/check_bg.png);
  border-radius: 0 6px 6px 0;
}

#navigation ul{
  list-style:none;
}
#navigation ul li{
  float: left;
}
#navigation ul li a{
  color: #FFF;
  text-shadow: none;
  padding: 0 .625em 0 .625em;
}
#navigation ul li a:hover{
  color: #FDC34D;
}
#navigation ul li a.active:hover{
  color: #FFFFFF;
}
@media screen and (max-width: 480px){
  #navigation{
    border-radius: none;
    background: none;
  }
  #navigation ul{
    float: none;
  }
  #navigation ul li{
    width: 100%;
    background: url(../images/check_bg.png);
  }
  #navigation ul li a{
    display: block;
    border-bottom: 1px solid #FFF;
  }
}
.center-image{
  padding: 1.25em .78125px;
  text-align: center;
}
.center-image img{
  border: 1px solid;
}
.signup-form{
  width: 200px;
  position: absolute;
  top: 130px;
  left: 10px;
}

.media-list{
  max-width: 22em;
  padding-right: .5em;  
}
.media-list p{
  clear: both;
  margin: 5px 0;
}
.media-list iframe{
  background-color: #274056;
  border-radius: 5px;
  padding: 5px;
}
.boxshadow .media-list iframe{
  box-shadow: 0 0 5px 0px #666;
  background-color: #FFF;
}
#infoSlider{
  position: absolute;
  right: 0;
  top: 0;
}

div.canvas{
  width: 800px;
  border: 1px solid;
  margin: 0 auto;
}
