$site-width: 960px;
$site-min-height: 500px;
$bgcolor: #FFF;
$bodycolor: #DADAEC;
$border-color: #F00;
$paragraph-color: #111;
$main-page-pad: 5px;
$main-text-pad: 0;
$title-size: 2em;

html{
  
}
body{
  background: $bodycolor url(../images/check_bg.png) repeat;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5em;
  font-size: 16px;
  text-shadow: 0 1px 0 #FFF;
}
.outer-wrapper{
  position: relative;
  width: $site-width;
  min-height: $site-min-height;
  margin: 0px auto;
  background-color: $bgcolor;
  // border: 1px solid;
  border-radius: 0 0 8px 8px;
}

.inner-wrapper{
  padding: $main-page-pad;
  // border: 1px solid;
}

.header{
  height: 50px;
}
h1.site-title{
  margin-top: 30px;
  background: url(../images/site-title.png) no-repeat;
  font-size: $title-size;
  text-indent: -1000px;
  line-height: 1;
}
.content{
  clear: left;
  padding: 5px;
}
.greeting{
  width: 600px;
  @include curled-box-shadow(#DA6647);
  margin-bottom: 10px;
  background-color: #DA6647;
  p{
    @include text-shadow();
  }
}

.response{
  @extend .greeting;
  @include curled-box-shadow(#22A190);
}
.list-item{
  @extend .greeting;
  width: 200px;
}
p{
  color: $paragraph-color;
  padding: $main-text-pad;
  .item{
      background-color:#FFF;
  }
}
.footer{
  position: relative;
  img{
    position: absolute;
    display: block;
    bottom: 20px;
    left: 20px;
  }
}

#navigation{
  width: 30%;
  height: 1.6em;
  background: url(../images/check_bg.png);
  margin-left: -5px;
  border-radius: 0 6px 6px 0;
}

#navigation ul{
  list-style:none;
}
#navigation ul li{
  float: left;
}
#navigation ul li a{
  color: #FFF;
  text-shadow: none;
  padding: 0px 10px 0px 10px;
}

.center-image{
  padding: 20px 200px;
}
.center-image img{
  border: 1px solid;
}
.signup-form{
  width: 200px;
  position: absolute;
  top: 130px;
  left: 10px;
}
