#jeff-is
  %ul
    %li=nav_item 'About', '/about', current_path
    %li=nav_item 'Writings', '/writings', current_path
    %li
      =nav_item 'Projects', '/projects/', current_path
      %ul
        %li=nav_item 'collaborations', '/projects/collaborations/', current_path
        %li=nav_item 'solo', '/projects/solo/', current_path
    %li=nav_item 'Works', '/works', current_path
