---
title: links
layout: default
---
%h1 Me around
%ul
  %li
    %a{:href => "http://codedoval.posterous.com", :target =>"_blank"}codedoval.posterous.com
  %li
    %a{:href => "http://vimeo.com/codedoval", :target =>"_blank"}vimeo.com
  %li
    %a{:href => "http://codedoval.bandcamp.com", :target => "_blank"}bandcamp.com
%h1 Others around
%ul
  %li
    %a{:href => "http://thefrankagency.org", :target => "_blank"}The Frank Agency
  %li
    %a{:href => "http://bridgingwounds.blogspot.com", :target => "_blank"}Paris Hurley
  %li
    %a{:href => "http://degenerateartensemble.com", :target => "_blank"}Degenerate Art Ensemble
