---
title: audio
layout: default
---
.media-list
  %h1 CodedOval::EquinoxEP
  %p
    :plain
      <iframe width="300" height="410" width="300"height="410" src="http://bandcamp.com/EmbeddedPlayer/v=2/album=709601449/size=grande3/bgcol=FFFFFF/linkcol=4285BB/" allowtransparency="true" frameborder="0"><a href="http://codedoval.bandcamp.com/album/equinox-ep">Equinox ep by codedoval</a></iframe>
  %h1 CodedOval::TechnoJamz
  %p Coming Soon!
  %h1 LeVeL 26::Tidbits
  %p Written and Recorded in 2006, awaiting release...
