<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>{{ page.title }}</title>
    <script type='text/javascript'>
      TITLE = "{{ page.title }}"
    </script>
    <script src='/js/jquery.min.js' type='text/javascript'></script>
    <script src='/js/raphael.min.js' type='text/javascript'></script>
    <script src='/js/jah.js' type='text/javascript'></script>
    <link href='/css/screen.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div class='outer-wrapper'>
      <div class='inner-wrapper'>
        <div class='header'>
          <a href='/'>
            <h1 class='site-title'>Jeffrey Alan Huston</h1>
          </a>
        </div>
        <div id='navigation'>
          {% include nav.html %}
        </div>
        <div class='content'>
          {{ content }}
        </div>
      </div>
    </div>
    <div class='footer'>
    </div>
  </body>
  <script type="text/javascript">
  
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12381984-1']);
    _gaq.push(['_trackPageview']);
  
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  
  </script>
</html>
