<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>{{ page.title }}</title>
    <script type='text/javascript'>
      TITLE = "{{ page.title }}"
    </script>
    <script src='/js/jquery.min.js' type='text/javascript'></script>
    <script src='/js/raphael.min.js' type='text/javascript'></script>
    <script src='/js/jah.js' type='text/javascript'></script>
    <link href='/css/screen.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div class='outer-wrapper'>
      <div class='inner-wrapper'>
        <div class='header'>
          <h1 class='site-title'>Jeffrey Alan Huston</h1>
        </div>
        <div class='content'>
          {% include nav.html %}
          {{ content }}
        </div>
        <div id='paper'></div>
      </div>
    </div>
    <div class='footer'>
      <img alt='figure.png' src='/images/figure.png' />
      <p class='footer-text'>&copy 2011 JeffreyAlanHuston</p>
    </div>
  </body>
</html>
